<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open Data about League of Legends teams">
    <meta name="keywords" content="League of Legends, E-sports, Teams">
    <meta name="author" content="Luka Marković-Đurin">
</head>
<body>
    <h1>League of Legends Teams Open Data</h1>
    <hr>
    <div>Open Data about League of Legends teams avaliable as .json and .csv as well as a database dump.
        Data refers to the official team rosters when the dataset was created and thus does not include rumors or unofficial roster changes.</div>
    <ul>
        <li>Title: League of Legends Teams Open Data</li>
        <li>Author: Luka Marković-Đurin</li>
        <li>Version:1.0</li>
        <li>Language: English</li>
        <li>License: Creative Commons Zero v1.0 Universal</li>
        <li>Creation Date: 02.11.2021.</li>
        <li>Keywords: League of Legends, E-sports, Teams</li>
        <li>Date and Time Formats: ISO 8601</li>
        <li>Encoding: UTF-8</li>
        <li>File Formats: .json, .csv, .sql</li>
    </ul>
    <a href="data/LoL_Teams.json" download="LoL_Teams.json"><button>Download Data as JSON file</button></a>
    <a href="data/LoL_Teams.csv" download="LoL_Teams.csv"><button>Download Data as CSV file</button></a>
    <a href="/data"><button>Search</button></a>
</body>
</html>